node_modules
pnpm-lock.yaml
dist
coverage
apps/mobile/android/app/build
apps/mobile/android/.gradle
apps/mobile/android/local.properties
apps/mobile/android/captures
apps/mobile/.capacitor
apps/mobile/www
