node_modules
dist
coverage
apps/mobile/android/.gradle
apps/mobile/android/.idea
apps/mobile/android/.kotlin
apps/mobile/android/build
apps/mobile/android/bin
apps/mobile/android/gen
apps/mobile/android/out
apps/mobile/android/captures
apps/mobile/android/local.properties
apps/mobile/android/**/.cxx
apps/mobile/android/**/.externalNativeBuild
apps/mobile/android/capacitor-cordova-android-plugins
apps/mobile/android/app/build
apps/mobile/android/app/src/main/assets/public
apps/mobile/android/app/src/main/assets/capacitor.config.json
apps/mobile/android/app/src/main/assets/capacitor.plugins.json
apps/mobile/android/app/src/main/res/xml/config.xml
apps/mobile/android/**/*.apk
apps/mobile/android/**/*.aab
apps/mobile/android/**/*.ap_
apps/mobile/android/**/*.keystore
apps/mobile/android/**/*.jks
apps/mobile/android/**/*.hprof
apps/mobile/.capacitor
apps/mobile/www
